@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

#detecta-adblock {
    width: 100%;
    position: fixed;
    height: calc(100vh - 86px);
    z-index: 999;
    top: 86px;
}

@media only screen and (max-width: 767px) {
    #detecta-adblock {
        top: 56px;
        height: calc(100vh - 56px);
    }
}

.adblock-cpt, .adblock-cpt * {
    box-sizing: border-box;
}

.adblock-cpt {
    width: 50%;
    min-width: 767px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    font-family: 'Raleway';
    position: fixed;
    z-index: 1;
    background: white;
    transform: translate(-50%, -50%);
    top: calc(50% + 56px);
    left: 50%;
    overflow: hidden;
    background: #000;
}
@media only screen and (max-width: 767px) {
    .adblock-cpt {
        width: 100%;
        min-width: unset;  
        height: calc(90vh - 56px);
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        top: calc(50% + 28px);
    } 
}

.adblock-cpt a {
    color: #41BFE2;
}

.adblock-cpt__header {
    height: 456px;
    color: #fff;
    display: flex;
    background-image: radial-gradient(26% 100%, #070F57 41%, #010B36 71%, #010022 96%);
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.04px;
    line-height: 20px;
    position: relative;
}
@media only screen and (max-width: 767px) {
    .adblock-cpt__header {
        height: auto;
        text-align: center;
    } 
}


.adblock-cpt__col1 {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}
@media only screen and (max-width: 767px) {
    .adblock-cpt__col1 {
        display: none;
    } 
}

.adblock-cpt__col1 img {
    display: block;
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 767px) {
    .adblock-cpt__col1 img {
        width: 130px;
    } 
}

.adblock-cpt__col2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}
@media only screen and (max-width: 767px) {
    .adblock-cpt__col2 {
        width: 100%;
        padding: 20px 40px;
    } 
}


.adblock-cpt__col2 > div {
    margin-bottom: 15px;
}

.adblock-cpt__title {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.22px;
    line-height: 32px;
}

.adblock-cpt__text {
    font-size: 16px;
    letter-spacing: 0.05px;
}

.adblock-cpt__footer {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}
@media only screen and (max-width: 767px) {
    .adblock-cpt__footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    } 
}

.adblock-cpt__footer-info {
    font-size: 17px;
    color: #545454;
    letter-spacing: 0.05px;
    line-height: 22px;
    padding-right: 60px;
}
@media only screen and (max-width: 767px) {
    .adblock-cpt__footer-info {
        padding-right: 0;
    } 
}

.adblock-cpt__footer-info :nth-child(1) {
    font-size: 17px;
    font-weight: 700;
}

.adblock-cpt__footer-info :nth-child(2) {
    font-size: 15px;
}

.adblock-cpt__footer-btn {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06px;
    min-width: 110px;
    text-align: right;
}

.adblock-cpt__footer-btn a {
    text-decoration: none;
}


.adblock-btn {
    display: inline-block;
    background: #41BFE2;
    border-radius: 3px;
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF !important;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

.adblock-cpt__requisitos {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
}

.adblock-cpt__requisitos.is-show {
    opacity: 1;
    visibility: visible;
    animation: opacityUp .2s linear 0s;
}

@keyframes opacityUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
  }

.adblock-cpt__requisitos h2, .adblock-cpt__requisitos h4, .adblock-cpt__requisitos ol {
    margin: 0;
}

.adblock-cpt__requisitos h2 {
    border-bottom: solid 1px rgba(65, 191, 226, .5);;
    padding-bottom: 10px;
}

.adblock-cpt__requisitos h4 {
    margin: 20px 0 5px;
}

.adblock-cpt__requisitos h4:first-of-type {
    margin-top: 10px;
}

.adblock-cpt__requisitos ol li {
    margin-bottom: 5px;
}

.adblock-cpt__requisitos-voltar {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;

    background: #41BFE2;
    border-radius: 3px;
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
}

#detecta-adblock .backdrop-adblock {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}