<!DOCTYPE html>
<html>

<head>
    <link href='styles/styles.css' rel='stylesheet'>
    <title>Modal Adblock v2</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <!-- <div id='detecta-adblock'>
        <div class='adblock-cpt'>
            <div class="adblock-cpt__header">
                    <div class="adblock-cpt__col1">
                        <img src="images/placas.svg" />
                    </div>
                    <div class="adblock-cpt__col2">
                        <div class="adblock-cpt__title">
                            Ops...<br />
                            Notamos que você utiliza um bloqueador de anúncios.
                        </div>
                        <div class="adblock-cpt__text">
                            Gosta do nosso conteúdo? Você pode contribuir 
                            com nosso jornalismo fazendo uma assinatura 
                            e aproveitar o jornal O Globo utilizando seu
                            bloqueador.
                        </div>
                        <div class="adblock-cpt__signup"><a href="" class="adblock-btn">Quero assinar</a></div>
                        <div class="adblock-cpt__signin">Já possui assinatura?  <a href="">Faça o login</a></div>
                    </div>
            </div>

            <div class="adblock-cpt__footer">
                <div class="adblock-cpt__footer-info">
                    <div>Ainda não está pronto para assinar?</div>
                    <div>Nos adicione em sua lista de permissões ou desabilite seu bloqueador de pop-ups.</div>
                </div>

                <div class="adblock-cpt__footer-btn">
                    <a id="showRequirements" href="javascript:;" >Saiba como</a>
                </div>
            </div>

            <div class='adblock-cpt__requisitos'>
                <button class="adblock-cpt__requisitos-voltar" type="button">Voltar</button>

                <h2>Adicione O Globo nas suas permissões</h2>

                <h4>Adblock Plus</h4>
                <ol>
                    <li>Clique no ícone do Adblock Plus, localizado à direita da barra de endereço do seu navegador</li>
                    <li>Um menu drop-down aparecerá na tela</li>
                    <li>Clique em “Enabled on this site” para desativar o bloqueio da publicidade</li>
                    <li>Após o clique, o texto será substituído por “Disabled on this site”</li>
                    <li>Recarregue a página que você estava tentando acessar</li>
                </ol>
                <h4>AdBlock Pro</h4>
                <ol>
                    <li>Clique no ícone do AdBlock Pro, localizado à direita da barra de endereços do seu navegador</li>
                    <li>Um menu drop-down aparecerá na tela</li>
                    <li>Clique no primeiro ícone (ligar) para para desativar o bloqueio da publicidade</li>
                    <li>Recarregue a página que você estava tentando acessar</li>
                </ol>
                <h4>AdBlock</h4>
                <ol>
                    <li>Clique no ícone do AdBlock Pro, localizado à direita da barra de endereços do seu navegador</li>
                    <li>Um menu drop-down aparecerá na tela</li>
                    <li>Clique em “Don’t run on pages on this domain” para desativar o bloqueio da publicidade</li>
                    <li>Uma nova janela abrirá e você precisará clicar no botão “Exclude”</li>
                    <li>Após o clique, a página será recarregada</li>
                </ol>
            </div>
        </div>
        <div class='backdrop-adblock'> </div>
    </div> -->

    <script type='text/javascript' src='scripts/adblock-piano.js'> </script>
</body>
</html>